@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  color: rgb(var(--foreground-rgb));
  background: linear-gradient(
      to bottom,
      transparent,
      rgb(var(--background-end-rgb))
    )
    rgb(var(--background-start-rgb));
}

.moviePage {
  margin-left: 5rem;
  margin-top: 2rem;
}

.test {
  margin: 3rem;
  font-size: large;
}

div.test h1 {
  color: #58588a;
  font-size: 4rem;
  text-align: center;
}

div.test p {
  font-style: italic;
  margin-bottom: 1rem;
  font-size: medium;
  text-align: center;
}

.subtitle1 {
  font-size: 8px;
}

.bigTitle {
  text-align: center;
  font-size: 7rem;
  color: blueviolet;
  margin-bottom: 2rem;
}
